SIO:CFG_1.0:7:0::
#
FIREWALL_MANAGEMENT:

      -Name "RapidSockets"

      -Name "RobotWebServices" -EnableOnPrivateNet 

      -Name "Netscan" -EnableOnPrivateNet 
#
SYSLOG:

      -Name "SYSLOG"
#
IP_SETTING:

      -Name "Public Network" -DHCP 

      -Name "IO Network"
#
DNSC:

     
      -Name "DNSC"
#
CSE_CONFIG:

      -Name "RSCON" -ProxyPwd "hMmyxcQQqh7sWgv2aUzo6uhOB62qcoY8H1kI0kgx+8dzyCmx"\
      -HTTPPassword "UWKHD2lDHjGdk5dmQCvTFxUQNr9Hfz+InJqJK7u7Niv3sQ56"\
      -MQTTPassword "aM5XqSHfcJoTi8MC7cLBSXQwl4U4cMp5kGMkYd4v+2ILJWdJ"
#
CSGW_CELLULAR:

      -Name "CSGW" -Pin "NWgp2QZSiNyD3Q5fEh3tIDvN5ozKwTXwdzAlM4PWkOyT85+k"\
      -Password "LBsmvROtnQNZJHdRRvrjltL1dT7oiPWQc+V6XSzTQTm5urSS"
#
CSGW_WIRELESS:

      -Name "CSGW" -Key "KU2wLmksIDZIyt2h3jaZOjiiNdFAG16j46BoSl920uJ016XO"
#
CSGW_WIRED:

      -Name "CSGW"

#CTRL_SIGNATURE:VJpzVHQa4XKtdH2oPgAXWRXyTeCdxomNFNqTa1zmIVQGOXm0deXOU3L6KxbDgFRi8mtNp5ZeJu3Cwj9C6aUNQg==